In [13]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("reddit_posts.csv")
df

                                                 title  upvotes  comments
0    Discover the Economic Highs and Potential Risk...        1         0
1    Navigating the Sentiment Analysis Jungle: Comp...        5         4
2    Anyone know any firms in India or Bangalore th...        1         2
3            What manual sentiment Analysis looks like        4         2
4                               remote job opportunity        1         7
..                                                 ...      ...       ...
100  Let Me Hear Your Voice and I Will Tell You How...        1         0
101  Facial Emotion Recognition: Single-Rule 1–0 De...        1         0
102  Thoughts on Motivation and Self-Motivated Soft...        1         0
103  David and Goliath, or I Trying to Beat Microso...        2         0
104                                           Welcome!        1         0

[105 rows x 3 columns]

In [7]:
df.head(10)

                                               title  upvotes  comments
0  Discover the Economic Highs and Potential Risk...        1         0
1  Navigating the Sentiment Analysis Jungle: Comp...        5         4
2  Anyone know any firms in India or Bangalore th...        1         2
3          What manual sentiment Analysis looks like        4         2
4                             remote job opportunity        1         7
5  Websites that do not consider web scraping ill...        1         0
6  Websites that do not consider web scraping ill...        1         0
7              Survey for Sentiment Analysis Project        1         0
8       MonkeyLearn Sentiment Analyzer Sign Up issue        6         5
9                           Sentiment Analysis Issue        1         0

In [9]:
df.describe()

          upvotes    comments
count  105.000000  105.000000
mean     1.752381    0.961905
std      1.089998    1.663660
min      1.000000    0.000000
25%      1.000000    0.000000
50%      1.000000    0.000000
75%      2.000000    1.000000
max      6.000000    7.000000

In [11]:
df.info

<bound method DataFrame.info of                                                  title  upvotes  comments
0    Discover the Economic Highs and Potential Risk...        1         0
1    Navigating the Sentiment Analysis Jungle: Comp...        5         4
2    Anyone know any firms in India or Bangalore th...        1         2
3            What manual sentiment Analysis looks like        4         2
4                               remote job opportunity        1         7
..                                                 ...      ...       ...
100  Let Me Hear Your Voice and I Will Tell You How...        1         0
101  Facial Emotion Recognition: Single-Rule 1–0 De...        1         0
102  Thoughts on Motivation and Self-Motivated Soft...        1         0
103  David and Goliath, or I Trying to Beat Microso...        2         0
104                                           Welcome!        1         0

[105 rows x 3 columns]>